<div id="sidebar">
  <div class="padding">
    <h2>Lists</h2>
    <div class="box">
    <ul>
    <li>
      <%= link_to 'Tasks', tasks_path, class: 'sidebar-item' %>
    </li>
    <li>
      <%= link_to 'Task List', task_lit_path %>
    </li>
    </ul>
    </div>
  </div>
</div>
